{% load static %}
<meta charset="utf-8">
<meta name="viewport" content="width=device-width, initial-scale=1">

<!-- CSRF Token -->
<meta name="csrf-token" content="">


<title></title>

<!-- Fonts -->
<link rel="dns-prefetch" href="//fonts.gstatic.com">
<link href="https://fonts.googleapis.com/css?family=Nunito" rel="stylesheet">

<!-- vendor css -->
<link href="{%static  '' %}template/lib/@fortawesome/fontawesome-free/css/all.min.css" rel="stylesheet">
<link href="{%static  '' %}template/lib/ionicons/css/ionicons.min.css" rel="stylesheet">
<link href="{%static  '' %}template/lib/rickshaw/rickshaw.min.css" rel="stylesheet">

<!-- Bracket CSS -->
<link rel="stylesheet" href="{%static  '' %}template/css/bracket.css">

